
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Ubuntu:wght@300&display=swap');
body{
    background-color: rgb(134, 84, 19);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'ubuntu';
    color: white;

}
nav ul{
    display: flex;
    align-items: center;
    /* brings text into horizontal format */
    list-style-type:none;
    height: 50px;
    background-color: black;
}
li{
    margin-left: 100px;
}
.brand img{
    width:44px ;
    padding: 0 8px;
}
.brand{
    display: flex;
    margin-left: 0%;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}