
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Ubuntu:wght@300&display=swap');
body{
    background-color: rgb(134, 84, 19);
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'ubuntu';
    color: white;

}
nav ul{
    display: flex;
    align-items: center;
    /* brings text into horizontal format */
    list-style-type:none;
    height: 50px;
    background-color: black;
}
li{
    margin-left: 100px;
}
.brand img{
    width:44px ;
    padding: 0 8px;
}
.brand{
    display: flex;
    margin-left: 0%;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.container {
    /* justify-content: center; */
    min-height: 75vh;
    /* background-color: black; */
    color: white;
    font-family:'Courier New', Courier;
    font-size: medium;
    font-weight: lighter;
    display: flex;
    background: black url(bg.jpg) no-repeat fixed center;
    position:static; 

}
    
.bottom{
    position: sticky;
    height: 120px;
    background-color: rgb(7, 1, 1);
    color: rgb(248, 241, 241);
    display: flex;
    justify-content: center;
    bottom: 0;
     /* justifycontent aligns the text at the centre of the container */
    align-items: center;
    flex-direction: column;
    /* icons will come down the playbar */
    
}
.margin{
    margin-top: 50px;
}
.icons i{
    cursor: pointer;
    /* will show hand cursor to play and pause */
}
#progressBar{
    visibility:visible;
    width: 20rem;
    /* 1rem = 10px */
    color:rgb(14, 9, 9);
    background-color: white;
    cursor: pointer;
   
}

.songitem{
    /* will apply for each song pannel */
    height: 50px;
    width: 350px;
    background-color: white;
    color: rgb(8, 0, 0);
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    display: flex;


}
.songitem img{
    width: 30px;
    margin: 0px 23px;
    border-radius: 34px;

}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songitemcontainer{
    /* will apply for whole song pannels */
    margin-top: 30px;
    /* position: absolute;
    left: auto; */
    align-items: center;
}
 
 